// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hover {
  background-color: #02c6bd;
}

#map_canvas {
  height: 420px;
}

#strikes {
  margin-top: 10px;
}