{{#unless strikes.length}}
  <p>Loading...</p>
{{/unless}}

{{#if strikes.length}}
  <p>{{strikes.status}}</p>
  <p>{{strikes.length}}</p>
  <div id="map_canvas"></div>
  <ul id="strikes"></ul>
{{/if}}