{{#unless strikes.length}}
  <h1 class="text-center">Loading...</h1>
{{/unless}}

{{#if strikes.length}}
  <h1 class="text-center">Drone Map</h1>
  <div id="map_canvas"></div>
  <table id="strikes" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Country</th>
        <th>Town</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{{/if}}